:8080 {
  reverse_proxy localhost:5500
}

localhost:8443 {
  tls internal

  reverse_proxy /api/* localhost:8000

  reverse_proxy /ws/* localhost:8000 {
    header_up Connection {http.request.header.Connection}
    header_up Upgrade {http.request.header.Upgrade}
  }

  reverse_proxy localhost:5500
}
